<header class="app-header">
  <div class="content">
    <div class="icon">
      <span class="material-symbols-outlined">
        location_on
      </span>
    </div>
    <div class="location">
      <span class="fc-placeholder os-footnote">
        store location
      </span>
      <p class="fc-nektaro os-footnote">
        <strong>Bhavanipuram, vijayawada</strong>
      </p>
    </div>
  </div>
  <div class="actions">
    <span class="material-symbols-outlined cart">
      shopping_bag
    </span>
  </div>
</header>
