<div class="ngx-inputcontainer">
    <input type="text" class="nektaro-input" id="tagsInput" name="tagsInput" autocomplete="off"
        placeholder="{{placeholder}}" (keydown)="inputTag($event)" />
    <small class="error" *ngIf="requiredState">
        {{errorMessage}}
    </small>
</div>
<div class="ngx-tagscontainer">
    <span class="ngx-tag" *ngFor="let each of tags;">{{each}}
        <svg xmlns="http://www.w3.org/2000/svg" (click)="removeTag(each)" width="20px" height="20px"
            viewBox="0 0 20 20">
            <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
            <path d="M0 0h20v20H0z" fill="none" />
        </svg>
    </span>
</div>