.table-wrapper {
  width: 100%;
  min-height: 300px;
  background-color: var(--nektaro-white);
  border: 1px solid var(--border-color);
  .table-toolbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-self: center;
    align-content: center;
    border-bottom: 1px solid var(--border-color);
    padding: 10px 20px;
    div {
      display: inline-flex;
    }
  }
  .table-body {
    max-height: 450px;
    min-height: 450px;
    overflow: auto;

    .data-table {
      width: 100%;
      position: relative;
      padding-right: 100px;
      border-collapse: collapse;
      tr {
        &:hover {
          td {
            background-color: var(--nektaro-offwhite);
            color: var(--nektaro-dark);
          }
        }
        th {
          text-align: left;
          color: var(--nektaro-dark);
          position: sticky;
          top: 0px;
        }
        td,
        th {
          min-width: 100px;
          padding: 5px 12px;
          border: 0px;
          border-bottom: 1px solid var(--border-color);
          background-color: var(--nektaro-white);

          &:last-child {
            text-align: center !important;
            position: sticky;
            right: 0px;
            width: 100px;
            border-left: 1px solid var(--border-color);
            text-align: right;
            padding-right: 30px;
            padding-left: 30px;
          }

          &:first-child {
            padding-left: 30px;
          }
        }

        td {
          color: var(--nektaro-black);
        }
      }
    }

    .loading {
      width: 100%;
      height: 450px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      align-self: center;
      align-content: center;
    }
  }

  .table-footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    align-self: center;
    align-content: center;
    border-top: 1px solid var(--border-color);
    padding: 10px 20px;
  }
}

.action-item {
  cursor: pointer;
}
