<footer class="nektaro-footer">
    <div class="container">
        <div class="row">
            <div class="col-pc-3 col-mobile-12 mb-50">
                <a href="https://nektaro.com"><img class="footer-logo" src="/assets/images/nektaro-submark.svg"
                        alt=""></a>
            </div>
            <div class="col-pc-3 col-mobile-6">
                <ul class="footer-links">
                    <li>
                        <span class="fc-dark os-footnote"><strong>Quick Links</strong></span>
                    </li>
                    <li>
                        <a href="https://nektaro.com" class="fc-black os-footnote">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="https://nektaro.com/one/" class="fc-black os-footnote">
                            Nektaro One
                        </a>
                    </li>
                    <li>
                        <a href="https://nektaro.com/" class="fc-black os-footnote">
                            Shop
                        </a>
                    </li>
                    <li>
                        <a href="https://nektaro.com/stores/" class="fc-black os-footnote">
                            Locate Store
                        </a>
                    </li>
                    <li>
                        <a href="https://nektaro.com/mission/" class="fc-black os-footnote">
                            Our Mission
                        </a>
                    </li>
                    <li>
                        <a href="https://nektaro.com/contactus/" class="fc-black os-footnote">
                            Contact Us
                        </a>
                    </li>
                </ul>
                <ul class="footer-links">
                    <li>
                        <span class="fc-dark os-footnote"><strong>Stay Connected</strong></span>
                    </li>
                    <li>
                        <a href="https://nektaro.com#newsletter" class="fc-black os-footnote">
                            Newsletter Signup
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-pc-3 col-mobile-6">
                <ul class="footer-links">
                    <li>
                        <span class="fc-dark os-footnote"><strong>Legal</strong></span>
                    </li>
                    <li>
                        <a href="https://nektaro.com/privacypolicy/" class="fc-black os-footnote">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a href="https://nektaro.com/terms-conditions/" class="fc-black os-footnote">
                            T & C.
                        </a>
                    </li>
                    <li>
                        <a href="#" class="fc-black os-footnote">
                            Delivery Terms
                        </a>
                    </li>
                    <li>
                        <a href="#" class="fc-black os-footnote">
                            Return Policy
                        </a>
                    </li>
                </ul>
                <ul class="footer-links">
                    <li>
                        <span class="fc-dark os-footnote"><strong>Resources</strong></span>
                    </li>
                    <li>
                        <a href="#" class="fc-black os-footnote">
                            FAQ's
                        </a>
                    </li>
                    <li>
                        <a href="#" class="fc-black os-footnote">
                            Careers
                        </a>
                    </li>
                    <li>
                        <a href="#" class="fc-black os-footnote">
                            Press
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-pc-3 col-mobile-12">
                <p class="fc-black os-footnote mb-10"><strong>Registered Address</strong></p>
                <p class="fc-black os-footnote mb-20">
                    # 76-13-37/A, 1st Floor, Urmila Nagar Road, Bhavanipuram,<br>
                    Vijayawada Krishna, ANDHRA PRADESH 520012</p>

                <p class="fc-black os-footnote mb-20">
                    <img src="/assets/images/mail-icon.png" class="mr-10" alt=""> {{supportEmail}}
                </p>
                <p class="fc-black os-footnote mb-20">
                    <img src="/assets/images/phone-icon.png" class="mr-10" alt=""> +91 9014222522
                </p>
            </div>
        </div>
    </div>
    <section class="footer-end">
        <div class="container">
            <div class="row">
                <div class="col-pc-6 col-mobile-12">
                    <p class="fc-dark os-footnote">© 2024, Nektaro Naturals Private Limited. All Rights Reserved.
                    </p>
                </div>
                <div class="col-pc-6 text-right col-mobile-12">
                    <p class="fc-dark os-footnote"><a class="link-dark ml-10"
                            href="https://nektaro.com/attibution/">Attribution for
                            Icons & Images</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>